:root {
	--color: var(--iad-gray8);
	--transform: none;
}
.c-pack-item {
	transform: var(--transform);
	transition: all 0.3s ease-in-out;
}
.c-pack-item__circle {
	fill: var(--iad-white);
	stroke: var(--iad-gray7);
	transition: all 0.3s ease-in-out;
}
.c-pack-item:hover {
	.c-pack-item__circle {
		filter: drop-shadow(0 0 4px var(--iad-gray5));
	}
}

.c-pack-item[data-type='instance'] .c-pack-item__circle {
	stroke: var(--iad-brand);
	fill: var(--iad-brand-washed);
}

.c-pack-item[data-depth='0'] .c-pack-item__circle {
	stroke: none;
}

.c-pack-item[data-height='0'] .c-pack-item__circle {
	fill: var(--color);
}


.c-tree-item__text{
	width: 5rem;
	display: block;
}
.c-tree-item__link{
	text-decoration: none;
}


.c-tree-item{
	transform: var(--transform);
}