:root {
	--color: var(--iad-gray8);
	--transform: none;
}
.c-pack-item {
	transform: var(--transform);
	transition: all 0.3s ease-in-out;
}

.c-pack-item__circle {
	fill: none;
	stroke: var(--iad-gray7);
	box-shadow:
		0 4px 6px -1px rgb(0 0 0 / 0.1),
		0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.c-pack-item[data-type='instance'] .c-pack-item__circle {
	stroke: var(--iad-brand);
	fill: var(--iad-brand-washed);
}

.c-pack-item[data-depth='0'] .c-pack-item__circle {
	stroke: none;
}

.c-pack-item[data-height='0'] .c-pack-item__circle {
	fill: var(--color);
}