/* =============================================
=info links (trainings)
============================================= */

.c-infolinks {
  list-style: none;
  margin: 0 0 1.5rem;
  padding: 0;
}

.c-infolinks__item:not(:last-child) {
  margin-block-end: calc(6 / 16 * 1rem);
}

.c-infolinks__link {
  color: var(--iad-brand-dark);
  text-decoration: underline;
  text-decoration-color: var(--iad-gray7);
  text-decoration-skip: skip;
  text-decoration-thickness: 1px;
  text-underline-offset: calc(6 / 16 * 1rem);

  &:hover {
    text-decoration-color: var(--iad-brand-dark);
  }
}
