/* =============================================
=page sections
============================================= */

/**
 * - paddings top and bottom
*/

.c-pagesection {
  padding-block: calc(30 / 16 * 1rem);

  @media (width >= 500px) {
    padding-block: calc(36 / 16 * 1rem);
  }

  @media (width >= 750px) {
    padding-block: calc(48 / 16 * 1rem);
  }

  @media (width >= 1024px) {
    padding-block: calc(60 / 16 * 1rem);
  }
}

/* =============================================
=variants
============================================= */

.c-pagesection--highlight {
  border-block-start: 1px solid rgba(0, 0, 0, 0.06);
  border-block-end: 1px solid rgba(0, 0, 0, 0.06);
  background-color: var(--iad-gray8);
}

/* =============================================
=page section body
============================================= */

/**
 * optional, used if you want to separate multiple parts of a section.
 * Only creates space
*/

.c-pagesection__body + .c-pagesection__body {
  padding-block-start: calc(30 / 16 * 1rem);

  @media (width >= 500px) {
    padding-block-start: calc(36 / 16 * 1rem);
  }

  @media (width >= 750px) {
    padding-block-start: calc(48 / 16 * 1rem);
  }

  @media (width >= 1024px) {
    padding-block-start: calc(72 / 16 * 1rem);
  }
}
