/* =============================================
=contact block
============================================= */

.c-contact {
  display: block;
}

.c-contact__title {
  font-family: var(--fontstack-alt1);
  color: var(--iad-gray1);
  line-height: 1.24;
  font-weight: 600;
  font-size: calc(18 / 16 * 1rem);
  margin-block-end: calc(6 / 16 * 1rem);
}

.c-contact__name {
  margin-block-end: 0;
}
