/* =============================================
=mobile nav
============================================= */

.c-mobilenav {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  @media (width >= 750px) {
    gap: calc(12 / 16 * 1rem);
  }
}

.c-mobilenav__link {
  display: block;
  padding-block: calc(3 / 16 * 1rem);

  font-weight: 400;
  font-size: calc(20 / 16 * 1rem);
  line-height: 1.2;
  font-family: var(--fontstack-alt1);

  color: var(--iad-gray7);
  text-decoration: none;

  transition: color 0.2s ease-in-out;

  &:hover,
  &:focus {
    color: var(--iad-white);
  }

  @media (width >= 750px) {
    font-weight: 300;
    font-size: calc(29 / 16 * 1rem);
  }
}

.c-mobilenav__link.is-active {
  color: var(--iad-brand);
}
