/* =============================================
=fluid images
============================================= */

.o-fluidimage {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
  background-color: var(--iad-gray7);
}

.o-fluidimage--full {
  inline-size: 100%;
}
