/* =============================================
=typography
============================================= */

:root {
  --fontstack-main: "Roboto", "Helvetica Neue", system-ui, sans-serif;
  --fontstack-alt1: "IBM Plex Sans", "Roboto", "Helvetica Neue", "Arial",
  sans-serif;
  --fontstack-alt2: "IBM Plex Serif", "Georgia", "Times New Roman", serif;
}
