/* =============================================
=colors
============================================= */

:root {
  --iad-gray1: #1c1c1c;
  --iad-gray2: #333333;
  --iad-gray3: #494949;
  --iad-gray4: #606060;
  --iad-gray5: #828282;
  --iad-gray6: #979797;
  --iad-gray7: #dddddd;
  --iad-gray8: #f8f8f8;

  --iad-black: #000000;
  --iad-white: #ffffff;

  --iad-brand: #1ac0d7;
  --iad-brand-dark: #1180a1;
  --iad-brand-washed: #edfbfd;

  --iad-ui-warning: #f7b538;
  --iad-ui-warning-dark: #a16b06;
  --iad-ui-warning-washed: #fef8eb;

  --iad-ui-success: #76d143;
  --iad-ui-success-dark: #448320;
  --iad-ui-success-washed: #f3fbef;

  --iad-ui-danger: #ee5417;
  --iad-ui-danger-dark: #ce4a16;
  --iad-ui-danger-washed: #fef1ec;
}
